@import "tailwindcss";

@layer base {
	body {
		@apply bg-black font-manrope text-white;
	}
	a {
		@apply text-violet-300 underline underline-offset-4;
	}
	section {
		@apply mt-10 flex flex-col;
	}
	h2 {
		@apply text-lg font-medium;
	}
	p {
		@apply mt-2;
	}
	ul {
		@apply mt-2;
	}
	li {
		@apply flex flex-col gap-y-1;
	}
}

@theme {
	--font-manrope: "Manrope", sans-serif;
}

@font-face {
	font-family: Manrope;
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src: url("/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}
